@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  background-image: linear-gradient(
    to right top,
    #d5ebed,
    #bcdde9,
    #accce7,
    #aab9e2,
    #b2a3d4
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  width: 80%;
  font-family: 'Times New Roman', Times, serif;
}
.search input {
  padding: 16px;
  width: 100%;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search button {
  padding: 10px;
  margin-left: 4px;
}

.blog-list {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.blog {
  padding: 5px;
  border-radius: 20px;
  background: #fffed1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: contain;
  border: 1px solid white;
  max-height: 420px;
  min-height: 420px !important;
}

.blog span {
  background: #b284be;
  border-radius: 20px;
  padding: 4px 10px 4px 10px;
}

.blog p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines */
  -webkit-box-orient: vertical;
}

.card-body {
  width: 100%;
  position: relative;
}

.blog img {
  max-width: 300px;
  max-height: 200px;
  min-width: 300px;
  min-height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
}

.pagination li:hover {
  cursor: pointer;
  background-color: #eee;
}

.blog-post {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ffebad;
  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 20px;
}

.blog-post h1 {
  text-align: center;
  font-size: 4vh;
}

.blog-post img {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.blog-author span {
  font-style: italic;
  color: gray;
}

.blog-category {
  background-color: #a69bd1;
  font-size: 18px;
  color: white;
  width: fit-content;
  padding: 5px 12px 5px 12px;
  border-radius: 20px;
}

.blog-description {
  text-align: justify;
  font-size: 20px;
  word-spacing: 4px;
  background: whitesmoke;
  border-radius: 20px;
  padding: 20px;
}

@media screen and (max-width: 1300px) {
  .blog-list {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 880px) {
  .container {
    flex-direction: column;
  }
  .container h1 {
    font-size: 4vh;
  }
}

@media screen and (max-width: 690px) {
  .blog-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blog {
    width: 400px;
    padding: 10px;
  }

  .blog img {
    background-color: #ffebad;
    min-width: 80% !important;
    margin-top: 10px;
    object-fit: fill !important;
  }
}

.blog-link {
  text-decoration: none;
  color: #333;
}

.add-blog-form {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 20px;
  padding: 12px;
  background: #ffebad;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}

.add-blog-form label {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.add-blog-form textarea {
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  border-radius: 20px;
  border: none;
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
}

.add-blog-form input {
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

#add-file-button {
  width: fit-content;
  padding: 4px;
}

.add-blog-form button {
  background: #a69bd1;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  width: 80%;
  cursor: pointer;
}
.add-blog-form button:hover {
  background: #5633de;
}

.add-blog-form form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup {
  background-image: url('./assets/lav.jpeg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signup h1 {
  font-size: 8vh;
  color: #d6f4f9;
  font-family: 'Lobster', cursive;
  text-align: center;
  background: #333;
  padding: 20px;
  border-radius: 20px;
}

.signup form {
  background-color: #c2c3ef;
  height: 450px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  position: relative;
}

form .credits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
}

.credits input {
  width: 80%;
  height: 30px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
}

.signup button {
  padding: 10px;
  background: #ffd2da;
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.signup a {
  color: red;
  font-weight: bolder;
}

.option {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  text-align: center;
}

.blog-action {
  display: flex;
  gap: 12px;
  position: absolute;
  margin-top: 40px;
  margin-right: 20px;
}

.blog-action button {
  padding: 6px;
  font-size: 20px;
  border-radius: 20px;
}

.blog-action #delete {
  color: rgb(229, 65, 65);
  background: white;
  border: none;
}

.blog-action #update {
  border: none;
  background: white;
  color: blue;
}

.blog-action #delete:hover {
  background-color: #bdd882;
}

.blog-action #update:hover {
  background-color: #bdd882;
}

* {
  box-sizing: border-box;
}

.nav {
  height: 120px;
  width: 100%;
  background-color: #ffebad;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
}

.nav > .nav-title > a {
  text-decoration: none;
  font-weight: bolder;
  display: inline-block;
  font-size: 4vh;
  color: #cf79dc;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #333;
  border-radius: 20px;
}

.nav > .nav-links > a:hover {
  background-color: #cf79dc;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 800px) {
  .nav {
    justify-content: space-between;
  }

  .nav > .nav-btn {
    display: inline-block;

    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #ffebad;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #333;
  }
  .nav > .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffebad;
    color: #333;
    text-align: center;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 82px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    overflow-y: auto;
  }
}
